{% extends 'layout.html' %}
{% block title %}
    <h2>CRUD de Fabricantes</h2>
{% endblock %}
{% block text %}
    <form action="" method="post">
        Nombre: <input type="text" name="nombre" class="form-control" placeholder="nombre del fabricante">
        Pais: <input type="text" name="pais_origen" class="form-control" placeholder="pais de origen del fabricante">
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
    {% for fabricante in fabricantes%}
        <li>
            {{fabricante.nombre}} / {{fabricante.pais_origen}}
        </li>
    {% endfor %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Pais</th>
                <th>Editar</th>
                <th>Borrar</th>
            </tr>
        </thead>
        <tbody>
            {% for fabricante in fabricantes%}
                <tr>
                    <td>{{fabricante.nombre}}</td>
                    <td>{{fabricante.pais_origen}}</td>
                    <td><button class="btn btn-primary btn-sm">Editar</button></td>
                    <td><button class="btn btn-danger btn-sm">Borrar</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

