{% extends 'layout.html' %}
{% block title %}
    <h2>CRUD de Stock</h2>
{% endblock %}
{% block text %}
    <form action="" method="post">
        Equipo: <select name="equipo_id" class="form-control">
            {% for equipo in equipos %}
                <option value="{{ equipo.id }}">{{ equipo.nombre }}</option>
            {% endfor %}
        </select>
        Cantidad: <input type="text" name="cantidad" class="form-control" placeholder="Cantidad">
        Ubicación: <input type="text" name="ubicacion" class="form-control" placeholder="Ubicacion">
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Equipo</th>
                <th>Cantidad</th>
                <th>Ubicación</th>
                <th>Editar</th>
                <th>Borrar</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stock_list %}
                <tr>
                    <td>{{ stock.Equipo.nombre }}</td>
                    <td>{{ stock.Stock.cantidad_disponible }}</td>
                    <td>{{ stock.Stock.ubicacion }}</td>
                    <td>
                        <button onclick="document.getElementById('editForm{{ stock.Stock.id }}').style.display='block'" class="btn btn-primary btn-sm">Editar</button>
                    </td>
                    <td>
                        <form action="/stock/{{ stock.Stock.id }}" method="post" style="display:inline;">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                    </td>
                </tr>
                <div id="editForm{{ stock.Stock.id }}" style="display:none;">
                    <form action="/stock/{{ stock.Stock.id }}" method="post">
                        <input type="hidden" name="_method" value="PUT">
                        Equipo: <select name="equipo" class="form-control">
                        {% for equipo in equipos %}
                            <option value="{{ stock.Stock.equipo_id }}">{{ stock.Equipo.nombre }}</option>
                        {% endfor %}
                        Cantidad: <input type="text" name="cantidad" value="{{ stock.Stock.cantidad_disponible }}" class="form-control">
                        Ubicacion: <input type="text" name="ubicacion" value="{{ stock.Stock.ubicacion }}" class="form-control">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}
